.movie-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 1.5em;
  padding: 1.5em;
}

.pagination-style {
  margin: 0.5em 0;
}

@media screen and (max-width: 1000px) {
  .movie-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 550px) {
  .movie-list {
    grid-template-columns: 1fr;
  }
}
