header {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  align-items: center;
}

header img {
  width: 150px;
  height: 100px;
}

header img:hover {
  cursor: pointer;
}

header ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 18px;
}

header input {
  padding: 12px 24px;
  /* border-radius: 10px; */
  border-radius: 30px;
}

header button {
  background-color: orange;
  padding: 12px 24px;
  border-radius: 30px;
}
/* header a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

header a:hover {
  color: blue;
} */

.menu-item {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.menu-item.active {
  /* color: blue !important; */
  color: inherit;
  border-bottom: 5px solid orange;
}
