header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 1.5em;
  padding: 1em 0;
  grid-template-areas: "cinema-logo menu search theme";
  min-height: 16vh;
  position: sticky;
  top: 0;
  z-index: 1;
}

#cinema-logo {
  grid-area: cinema-logo;
}

#menu {
  grid-area: menu;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  grid-template-areas: "Home Movies by Genre My favorites";
}

#search {
  grid-area: search;
}
#theme {
  grid-area: theme;
}

.logo {
  transition: transform 0.5s;
}

.logo:hover {
  transform: scale(1.4);
}

@media screen and (max-width: 1350px) {
  header {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "cinema-logo search theme";
    gap: 1em;
    min-height: 30vh;
  }

  #menu {
    grid-column: span 3;
    gap: 7em;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 550px) {
  #menu {
    gap: 3em;
  }
}

.menu-item {
  text-decoration: none;
  font-size: 1.2em;
}

.menu-item:hover {
  border-bottom: 0.25em solid orange;
}

.menu-item.active {
  color: inherit;
  font-weight: bold;
  border-bottom: 0.25em solid orange;
}
