.card-background {
  padding: 5%;
}

/* .movie-card {
  box-shadow: rgba(182, 182, 231, 0.2) 0px 7px 29px 0px;
} */

.movie-card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.movie-card:hover {
  cursor: pointer;
}

.heart {
  font-size: 150%;
}
.movie-card h3 {
  padding: 6px;
}

.movie-card p {
  padding: 6px;
}
