.movie-card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.movie-card img {
  /* max-width: 100%;
  max-height: 300px; */
  max-width: 100%;
  max-height: 281px;
  object-fit: cover;
}

.movie-card:hover {
  cursor: pointer;
}

.heart {
  background-color: rgb(32, 31, 31);
  font-size: 150%;
}
.movie-card h3 {
  background-color: rgb(32, 31, 31);
  color: white;
  padding: 6px;
}

.movie-card p {
  background-color: rgb(32, 31, 31);
  color: white;
  padding: 6px;
}
